Django>=5.1,<6.0
djangorestframework>=3.15,<4.0
djangorestframework-simplejwt>=5.3,<6.0
psycopg2-binary>=2.9,<3.0
Pillow>=10.0,<12.0
gunicorn>=22.0,<23.0
drf-spectacular>=0.28.1
celery>=5.2
redis>=4.5
django-redis>=5.2,<6.1
pypdf>=4.0
supabase>=1.0.0
django-allauth>=0.59
google-auth>=2.25.2
django-cors-headers>=4.3.1